.el-loading-mask {
  background-color: rgba(5, 22, 38, 0.8);
}

input {
  background-color: #051626;
}

/**颜色**/
.primary {
  background: #1BCBB4;
  border: 1px solid #1BCBB4;
  color: #fff;
}

.error {
  background: #FE6464;
  border: 1px solid #FE6464;
  color: #fff;
}

.el-form-item__error {
  color: #EB2426;
}

.clGreen {
  color: #1BCBB4;
}

.clBlue {
  color: #33B0FF;
}

.bgBlue {
  background: #33B0FF;
}

.clRed {
  color: #EB2426;
}

.bgRed {
  background: #EB2426;
}

/****表格***/
.el-table,
.el-table tr,
.el-table td .el-table--border td,
.el-table__body table,
.el-table__body thead,
.el-table__body th,
.el-table__body tbody,
.el-table__body tr,
.el-table__body td {
  /* position: inherit;*/
  border: none;
  background: none;
  padding: 0px;
  margin: 0px;
  /* color: #16b3ff ; */
}

table {
  box-sizing: border-box;
  width: 100% !important;
}

.el-table::after,
.el-table::before {
  content: '';
  position: relative;
  background-color: #dfe6ec;
  z-index: -1;
}

.el-table th {
  background: #0b2f4c;
}

.el-table th div.cell {
  background-color: #0b2f4c;
  color: #16b3ff;
}

.el-table__header thead tr th .cell {
  text-align: center;
  /* white-space:nowrap; */
}

/* .el-table__empty-block{ background-color:#fff; width:100%;} */

.el-table__body tbody tr td {
  width: 100%;
  border-bottom: 1px solid #0d2232;
}

.el-table__body tbody tr td .cell {
  padding: 0px 18px;
  width: 100% !important;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #051626;
}

.current-row td .cell {
  background: #0b2f4c !important;
}

.el-table__body tbody tr {
  background: #0d2232;
}

.el-table__body tbody tr:hover {
  background: #0d2232;
}

.el-table__body span.btn {
  padding-left: 18px;
  margin-right: 5px;
  cursor: pointer;
}

.el-table__body span.btn.edit {
  background: url('/static/img/edit.png') 0px 2px no-repeat;
}

.el-table__body span.btn.edit:hover {
  background: url('/static/img/edit-activ-green.png') 0px 2px no-repeat;
  color: #1BCBB4;
}

.el-table__body span.btn.del {
  background: url('/static/img/del.png') 0px 2px no-repeat;
}

.el-table__body span.btn.del:hover {
  background: url('/static/img/del-active-red.png') 0px 2px no-repeat;
  color: #EB2426;
}

.el-table__body span.btn.detail {
  background: url('/static/img/detail.png') 0px 2px no-repeat;
}

.el-table__body span.btn.detail:hover {
  background: url('/static/img/detail-active.png') 0px 2px no-repeat;
  color: #1BCBB4;
}

.el-table__body span.btn.again {
  background: url('/static/img/refresh.png') 0px 2px no-repeat;
}

.el-table__body span.btn.again:hover {
  background: url('/static/img/refresh-active.png') 0px 2px no-repeat;
  color: #1BCBB4;
}

span.btn {
  padding-left: 18px;
  cursor: pointer;
}

span.btn.export {
  background: url('/static/img/export.png') 0px 2px no-repeat;
}

span.btn.export:hover {
  background: url('/static/img/export-active-green.png') 0px 2px no-repeat;
  color: #1BCBB4;
}


.el-table__fixed-body table,
.el-table__fixed-body thead,
.el-table__fixed-body th,
.el-table__fixed-body tbody,
.el-table__fixed-body tr,
.el-table__fixed-body td {
  /* position: inherit;*/
  border: none;
  background: none;
  padding: 0px;
  margin: 0px;
}

.el-table__fixed-header thead div {
  background: #E9E9E9;
}

.el-table__fixed-body tbody tr td {
  width: 100%;
  border-bottom: 2px solid #E8E8E8;
}

.el-table__fixed-body tbody tr td .cell {
  width: 100%;
  height: 40px;
  line-height: 40px;
}

.el-table__fixed-body tbody tr {
  background: #fff;
}

.el-table__fixed-body tbody tr:hover td {
  box-shadow: 0px 1.5px 0px #EEE;
}

.el-table__fixed-body tbody tr:hover td .cell {
  box-shadow: inset 0px 1.5px 0px #EEE;
}

.el-table__header {
  table-layout: initial;
}

.el-table td,
.el-table th.is-leaf {
  border-bottom: none;
}

.el-table--border th,
.el-table__fixed-right-patch {
  border-bottom: none;
}

.el-table--border th {
  border-right: none;
}

/****表格end***/

/****分页***/
.page {
  clear: both;
  position: relative;
  height: 50px;
}

.page .el-pagination {
  position: absolute;
  right: 10px;
  top: 15px;
}

.el-pagination {
  color: #ffffff;
}

.el-pagination input {
  color: #ffffff;
}

.page button,
.page .el-pager li,
.page .el-input__inner {
  height: 30px;
}

.el-input__inner {
  padding: 3px 28px 3px 10px;
  color: #fff;
  border: 1px solid #16b3ff;
}

.el-input.is-disabled .el-input__inner {
  border-color: #16b3ff;
  border-top-color: #16b3ff;
  border-right-color: #16b3ff;
  border-bottom-color: #16b3ff;
  border-left-color: #16b3ff;
}

.el-select-dropdown {
  background: #051626;
  border: 1px solid #1C2B45;
}

.el-select-dropdown_item:hover {
  color: #000;
}

.page .el-pager li.active {
  /* background: #1BCBB4 ; */
  /* border: 1px solid #1BCBB4 ; */
  color: #fff;
}

/****分页end***/

/***组件特效***/
.component-fade-enter-active,
.component-fade-leave-active {
  transition: opacity .3s ease;
}

.component-fade-enter,
.component-fade-leave-to {
  opacity: 0;
}

/***组件特效end***/

/****按钮***/
.el-button {
  width: 90px;
}

/* .el-button--primary{background: #1BCBB4; border:1px solid #1BCBB4;} */
.el-button--primary span {
  color: #000;
}

/* .el-button--primary:hover {background: #1ddfc6;border-color: #1ddfc6; color: #fff;} */
.el-button--default {
  background: #0b2f4c;
  border: #0b2f4c;
}

.el-button--default span {
  color: #fff;
}

.el-button--success {
  background: #1BCBB4;
  border: 1px solid #1BCBB4;
}

.el-button--success span {
  color: #fff;
}

.el-button--success:hover {
  background: #1ddfc6;
  border-color: #1ddfc6;
  color: #fff;
}

.el-button--warning {
  background: #f7ba2a;
  border: 1px solid #f7ba2a;
}

.el-button--warning span {
  color: #fff;
}

.el-button--warning:hover {
  color: rgb(255, 255, 255);
  background: rgb(249, 200, 85);
  border-color: rgb(249, 200, 85);
}

.el-button--danger {
  background: #EB2426;
  border: 1px solid #EB2426;
}

.el-button--danger span {
  color: #fff;
}

.el-button--danger:hover {
  color: rgb(255, 255, 255);
  background: rgb(255, 109, 109);
  border-color: rgb(255, 109, 109);
}

.el-button--info {
  background: #33B0FF;
  border: 1px solid #33B0FF;
}

.el-button--info span {
  color: #fff;
}

.el-button--info:hover {
  background: #73ccff;
  border-color: #73ccff;
  color: #fff;
}

/* .el-button--default:hover{ color: #1BCBB4; border-color: #1BCBB4;}
.el-button--default:active{ color: #1BCBB4; border-color: #1BCBB4;} */

.el-button.is-disabled,
.el-button.is-disabled:focus,
.el-button.is-disabled:hover {
  /* color: #fff;
  background-color: #ddd; */
}

/* .el-tabs__item.is-active{color:#000000;} */
.el-tabs--card .el-tabs__item {
  min-width: 100px;
  text-align: center;
}

.el-tabs--card .el-tabs__item.is-active {
  /* color: #000000 ; */
  border-top: 2px solid #1BCBB4;
  border-bottom-color: #F6F6F6
}

.el-tabs--card .el-tabs__nav-wrap {
  margin-bottom: -2px;
}

/* .el-tabs__active-bar{background: #1BCBB4;} */

.el-form-item__label {
  color: #16b3ff;
}

/***dialog***/
.el-dialog__wrapper {
  overflow: hidden;
  overflow-y: auto;
}

.el-dialog {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px 5px;
  border: 1px solid #1C2B45;
}

.el-dialog .el-dialog__header {
  padding: 5px;
  height: 36px;
  /*box-shadow: 0px 2px 1px #ddd;*/
  float: left;
  width: 100%;
  box-sizing: border-box;
  color: #16b3ff;
  background-color: #0b2f4c;
  /*background: url('/static/img/dlg-title-bk.png') transparent 0px 0px repeat-y;
background-size: 100% 100%;
-moz-background-size: 100% 100%;*/
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.el-dialog .el-dialog__header .el-dialog__title {
  font-size: 14px;
  line-height: 30px;
  margin-left: 10px;
  color: #16b3ff;
}

.el-dialog .el-dialog__header .el-dialog__headerbtn {
  font-size: 14px;
  line-height: 30px;
  margin-right: 10px;
  top: auto;
}

.el-dialog .el-dialog__header .el-dialog__headerbtn .el-dialog__close,
.el-dialog .el-dialog__header .el-dialog__headerbtn .el-dialog__close:hover {
  color: #16b3ff;
}

.el-dialog .el-dialog__body {
  padding: 0px;
  float: left;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px 5px;
}

.el-dialog .el-dialog__content {
  /*background: #f7fafa;*/
  background: rgba(0, 0, 0, 0.8);
  padding: 20px 20px;
  float: left;
  width: 100%;
  box-sizing: border-box;
}

.el-dialog__body {
  color: #16b3ff;
}


/* .el-dialog__body span {
  color:#fff ; 
} */
.el-dialog .el-dialog__content.alert img {
  float: left;
  margin: 0px 10px 0px 20px;
  width: 48px;
  height: 48px;
}

.el-dialog .el-dialog__content.alert div.dialog-content {
  float: left;
  margin-top: 13px;
  width: 75%;
}

.el-dialog .el-dialog__content.alert div.dialog-mainContent {
  font-size: 15px;
  line-height: 22px;
}

.el-dialog .el-dialog__content.alert div.subContent {
  font-size: 12px;
  margin: 0px;
  color: #9F9F9F;
}

.el-dialog .el-dialog__btn {
  /* background: #f7fafa ; */
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px 5px;
  text-align: right;
  padding: 10px 10px;
  float: left;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 8px;
}

.el-dialog--alert {
  width: 400px;
}

/***dialog end***/

/***tab**/
.el-breadcrumb__item .el-breadcrumb__item__inner {
  color: #000;
}

.el-breadcrumb__separator,
.el-breadcrumb__item:last-child .el-breadcrumb__item__inner {
  color: #999999;
}

.el-breadcrumb__item:first-child .el-breadcrumb__item__inner {
  color: #000;
}

/***tab end**/

/***check********/
.el-checkbox__inner {
  background-color: #1c2237;
  border-color: #3b5474;
}

.el-checkbox__inner::after {
  border: 2px solid #00f9df;
  border-left: 0;
  border-top: 0;
}

.el-checkbox {
  color: #20a0ff;
}

/***文字按钮改变颜色****/
.el-button--text-blue span {
  color: #00d1b2;
}

.el-button--text span:focus,
.el-button--text span:hover {
  color: #4db3ff;
}

.el-button:focus,
.el-button:hover {
  color: #20a0ff;
  border-color: #20a0ff;
}

.el-radio__label {
  color: #fff;
}

/****预先加载层、屏蔽****/
.el-loading-fade-leave-active,
.el-loading-fade-enter-to,
.el-loading-fade-leave-to {
  border: none;
  display: none;
}

/***表单******/
form div.el-form-item {
  margin-right: 10px;
}

form input.el-input__inner {
  border: 1px solid #16b3ff;
}

form textarea.el-textarea__inner {
  color: #666666;
  border: 1px solid #16b3ff;
}

form div.el-input {
  padding-right: 0px;
}

form div.el-select {
  display: block;
}

form div.el-select.w174 {
  width: 174px
}

/****el-tooltip****/
/* .el-tooltip__popper.is-dark{
  background: #fff;
  max-width:300px;word-wrap:break-word;
  word-break:break-all;
  border:1px solid #ddd;
  box-shadow: 1px 1px 5px #ddd;
}
.el-tooltip__popper.is-dark .popper__arrow{border-top-color:#ddd;} */
.el-tooltip__popper.is-dark .popper__arrow {
  border-top-color: #fff;
}

.el-tooltip__popper.is-dark {
  max-width: 300px;
  word-wrap: break-word;
  background: #333333;
  padding: 20px;
  border-radius: 15px;
  word-wrap: break-word;
  word-break: break-all;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 5px #ddd;
  color: #fff;
  line-height: 20px;
  opacity: 0.9;
}

/***check********/
/* .el-checkbox__input.is-checked .el-checkbox__inner {
background-color: #00d1b2 ;
border-color: #00d1b2 ;
} */

/***文字按钮改变颜色****/
.el-button--text-blue span {
  color: #00d1b2;
  text-decoration: underline
}

/****选择页数***/
/* .el-select-dropdown__item.selected {color: #fff;  background-color: #1BCBB4;} */
.el-select-dropdown__item.selected span {
  color: #fff;
}

/* .el-pager li:hover {color:#1BCBB4;} */
.el-pager li.active {
  /* border-color: #1BCBB4 ;
background-color: #1BCBB4 ; */
  color: #fff;
  cursor: default;
}

.el-pagination__sizes .el-input .el-input__inner:hover {
  /* border-color: #1BCBB4 ; */
  border-color: rgb(32, 160, 255);
}

.el-input__inner:hover {
  border-color: rgb(32, 160, 255);
}

.el-input-group__append,
.el-input-group__prepend {
  color: #000;
  background-color: rgb(32, 160, 255);
  border-top: 1px solid rgb(32, 160, 255);
  border-bottom: 1px solid rgb(32, 160, 255);
}

.el-input-group__append {
  border-right: 1px solid rgb(32, 160, 255);
}

.el-input-group__prepend {
  border-left: 1px solid rgb(32, 160, 255);
}

.el-input-group__append .el-button.el-button--default {
  width: auto;
  background: none;
}

.el-pagination button:hover {
  /* color: #1BCBB4; */
  color: rgb(32, 160, 255);
}

.el-pagination button.disabled:hover {
  color: #666666;
}

.el-pagination__editor {
  width: auto;
  min-width: 30px;
}

.el-pagination__editor:focus {
  outline: 0;
  /* border-color: #1BCBB4 ; */
  border-color: rgb(32, 160, 255);
}

/*****radio**********/
/* .el-radio__inner:hover {border-color: #1BCBB4;} */
/* .el-radio__input.is-checked .el-radio__inner {border-color: #1BCBB4;background: #1BCBB4;} */
/*****开关**********/
.el-switch__label * {
  line-height: 1;
  top: 4px;
  color: #fff;
}

/*****时间控件**************/
/* .el-date-editor .el-input__inner{color:#000000; border:1px solid #dcdcdc;} */
/* .el-date-range-picker .el-date-table td.current:not(.disabled),
.el-date-range-picker .el-date-table td.end-date,
.el-date-range-picker .el-date-table td.start-date{background: #1BCBB4;} */

/*进度条样式调整*/
.el-progress-bar__innerText {
  color: #fff;
}

.el-progress-bar__outer {
  background-color: #fff;
}

.el-card {
  /* border:1px solid #20a0ff; */
  background: #0D1F2D;
  border-radius: 0;
  border: 1px solid #1B5270;
}

.el-card__body {
  /* border: 1px solid #1C2B45; */
}

.el-card__header {
  color: #16b3ff;
  border-bottom: 1px solid #1C2B45;
}

.el-pager li {
  background: none;
  /* border: 1px solid #d1dbe5; */
}

.el-pager li.active {
  background: #20a0ff;
}

/**穿梭框**/
.el-transfer-panel__header,
.el-transfer-panel__footer,
.el-transfer-panel__body {
  background: #0b2f4c;
  color: #16b3ff;
}

.el-transfer-panel__header {
  border-bottom: 1px solid #1B5270;
}

.el-transfer-panel__footer {
  border-top: 1px solid #1B5270;
}

.el-transfer-panel {
  background: none;
  border: 1px solid #1B5270;
}

.el-color-picker__trigger {
  padding: 6px;
}

.p20 {
  padding: 20px;
}

.el-range-editor.el-input__inner {
  background-color: transparent;
}

.el-date-table td.disabled div {
  background-color: transparent;
}

.el-date-table td.in-range div,
.el-date-table td.in-range div:hover,
.el-date-table.is-week-mode .el-date-table__row.current div,
.el-date-table.is-week-mode .el-date-table__row:hover div {
  background-color: transparent;
}

.el-message .el-message__content {
  color: white;
}

/**重写弹层宽度**/

.el-dialog .el-dialog__body {
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid #1C2B45;
}

.el-dialog--roleChg {
  width: 300px;
}

.el-dialog--configTemplate {
  width: 580px;
}

/****lora info******/
.el-dialog--lora-info {
  width: 1000px;
  top: 10%;
}

.el-dialog--lora-model-info {
  width: 610px;
  top: 10%;
}

.basic-dialog {
  min-width: 480px;
}

.dev-info-dialog {
  width: 800px;
}

.eui-add-dialog {
  width: 480px;
  top: 17%;
}

.lora-dev-info-dialog {
  width: 1100px;
}

.lora-info-dialog {
  width: 1200px;
}


.el-message__group p {
  color: #ffffff;
}

.el-msg-ok {
  background: rgba(19, 206, 102, 0.8);
}

.el-msg-error {
  background: rgba(255, 73, 73, 0.8);
}

.el-msg-ok .el-message__group p,
.el-msg-error .el-message__group p {
  color: #ffffff;
}

/* radio button */
.el-radio-button__orig-radio:checked+.el-radio-button__inner {
  color: #fff;
}

.rss-base-style .el-table tr {
  color: #fff;
}

/*下拉菜单*/
.el-dropdown-menu {
  background-color: rgba(32, 42, 59, 0.8);
  border-color: #797c88;
  color: #fff;
}

.el-dropdown-menu .el-dropdown-menu__item div {
  color: #fff;
}

.el-dropdown-menu .el-dropdown-menu__item:hover {
  background-color: #373f5f;
}

/*单选下拉框*/
.el-select-dropdown__list {
  background-color: rgba(32, 42, 59, 0.8);
  border-color: #797c88;
}

.el-select-dropdown__list .el-select-dropdown__item {
  background-color: rgba(32, 42, 59, 0.8);
  border-color: #797c88;
}

.el-select-dropdown__list .el-select-dropdown__item span {
  color: #fff;
}

.el-select-dropdown__list .el-select-dropdown__item.selected,
.el-select-dropdown__list .el-select-dropdown__item.selected:hover {
  background-color: #373f5f;
}

.el-select-dropdown__list .el-select-dropdown__item:hover {
  background-color: #373f5f;
}

.el-select .el-input .el-input__inner {
  background-color: #0D1F2D;
  /* border:1px solid #1C2B45 ; */
  color: #fff;
}

.el-select-dropdown .el-select-dropdown__empty {
  background-color: rgba(32, 42, 59, 0.8);
  color: #fff;
}

.el-pagination__sizes .el-input .el-input__inner:hover {
  /* border-color: #1BCBB4 ; */
  /* border-color: rgb(32, 160, 255) ; */
  border: 1px solid #16b3ff;
}

.el-pagination button:hover {
  /* color: #1BCBB4; */
  color: rgb(32, 160, 255);
}

.el-pagination button.disabled:hover {
  color: #666666;
}

.el-pagination .btn-next,
.el-pagination .btn-prev {
  border: 1px solid #16b3ff;
  color: #fff;
}

.el-pagination__editor {
  width: auto;
  min-width: 30px;
  border-color: #16b3ff;
}

.el-pagination__editor:focus {
  outline: 0;
  /* border-color: #1BCBB4 ; */
  border-color: #16b3ff;
}

.el-pager li.number {
  border: 1px solid #16b3ff;
}

.el-pager li.el-icon .more .btn-quicknext .el-icon-more {
  border: 1px solid #16b3ff;
  color: #fff;
}

.el-autocomplete-suggestion__wrap,
.el-pager li {
  border: 1px solid #16b3ff;
  color: #fff;
}

.el-collapse {
  border: 1px solid #16b3ff;
}

.el-collapse .el-collapse-item__wrap {
  border-bottom: 1px solid #16b3ff;
}

.el-date-range-picker {
  background-color: rgba(32, 42, 59, 0.6);
}

.el-date-range-picker .el-date-table {
  background-color: rgba(32, 42, 59, 0.6);
  border-color: #797c88;
  color: #fff;
}

.el-date-range-picker .el-date-table td,
.el-date-range-picker .el-date-table td.disabled {
  background-color: #252a3b;
}

.el-date-range-picker .el-date-table td .cell {
  color: #fff;
}

.el-date-range-picker .el-date-table td .cell:hover {
  background-color: #373f5f;
}

.el-date-range-picker .el-date-table td.disabled .cell {
  color: #797c88;
  background-color: #252a3b;
}

.el-date-range-picker__header div,
.el-date-range-picker__header button.el-picker-panel__icon-btn {
  color: #fff;
}

.el-date-table td.in-range {
  background-color: #373f5f;
}

.el-table__empty-text {
  color: #fff;
}

.el-transfer-panel__item:hover {
  background-color: #373f5f;
}

/*.el-message-box*/
.el-message-box {
  background-color: rgba(0, 0, 0, 0.8);
}

.el-message-box .el-message-box__title,
.el-message-box .el-message-box__headerbtn .el-message-box__close,
.el-message-box .el-message-box__content .el-message-box__message p {
  color: #fff;
}

.el-message-box .el-message-box__content .el-message-box__status.el-icon-warning {
  color: #f7ba2a;
}

/*.el-tree*/
.el-tree {
  background: #0a1b28;
  color: rgb(32, 160, 255);
  border: none;
}

.el-tree-node span {
  font-size: 12px;
}

.el-tree-node.is-current>.el-tree-node__content {
  background-color: #373f5f;
}

.el-tree .el-tree-node__content:hover {
  background: #373f5f;
}

.el-color-picker__trigger {
  border: 1px solid rgb(32, 160, 255);
}

.el-dialog--account-model-info {
  width: 500px;
  top: 10%;
}

.el-dialog--department-selector {
  width: 550px;
  top: 10%;
}

.el-dialog--set-up-down {
  width: 22%;
  min-width: 350px;
}

.el-dialog--goods-detail {
  width: 24%;
  min-width: 380px;
}

.el-dialog--dialog-size-1024 {
  width: 1024px;
  top: 10%;
}

.el-dialog--dialog-size-950 {
  min-width: 950px;
  top: 10%;
}

.el-dialog--dialog-size-850 {
  min-width: 850px;
  top: 10%;
}

.el-dialog--dialog-size-750 {
  min-width: 750px;
  top: 10%;
}

.el-dialog--dialog-size-550 {
  min-width: 500px;
  top: 10%;
}

.el-dialog--dialog-size-800 {
  width: 800px;
  top: 10%;
}

.el-dialog--dialog-size-700 {
  width: 700px;
  top: 10%;
}

.el-dialog--dialog-size-650 {
  width: 650px;
  top: 10%;
}

.el-dialog--dialog-size-600 {
  width: 600px;
  top: 10%;
}

.el-dialog--dialog-size-min-520 {
  min-width: 520px;
  top: 10%;
}

.el-dialog--dialog-size-520 {
  width: 520px;
  top: 10%;
}

.el-dialog--dialog-size-500 {
  width: 500px;
  top: 10%;
}

.el-dialog--dialog-size-450 {
  width: 450px;
  top: 10%;
}

.el-dialog--dialog-size-400 {
  width: 400px;
  top: 10%;
}

.el-dialog--dialog-size-350 {
  width: 350px;
  top: 10%;
}
