$--color-text-regular: #90AACD;
$--border-base: #90AACD;

/* 改变主题色变量 */
$--color-primary: #18EDD0;
$--button-default-border-color: #3E4A5F;
$--button-default-font-color: #90AACD;
$--button-default-background-color: #212836;

$--button-primary-border-color: #18EDD0;
$--button-primary-font-color: #212836;
$--button-primary-background-color: #18EDD0;

$--button-info-border-color: #6E7F97;
$--button-info-font-color: #212836;
$--button-info-background-color: #6E7F97;

$--button-disabled-font-color: rgba(#FFFFFF, 0.5);
$--button-disabled-background-color: rgba(#212836,0.5);
$--button-disabled-border-color: 1px solid rgba(#FFFFFF, 0.5);

$--input-font-color: white;
$--input-placeholder-color: #6E7F97;
$--input-icon-color: #6E7F97;
$--input-background-color: #212836;
$--input-border: 1px solid #3E4A5F;

$--input-disabled-fill: rgba(#90AACD, 0.5);
$--input-disabled-border: rgba(#3E4A5F, 0.5);
$--input-disabled-color: rgba(#FFFFFF, 0.5);
$--input-disabled-placeholder-color: rgba(#FFFFFF, 0.5);

$--select-dropdown-background: #212836;
$--select-option-selected-font-color: #18EDD0;
$--select-option-hover-background: rgba(156,186,228,0.2); // #9CBAE4;
$--select-dropdown-border: 1px solid #3E4A5F;

$--select-disabled-border: rgba(#3E4A5F, 0.5);

$--popover-background-color: #212836;

$--checkbox-font-color: #6E7F97;

$--radio-font-color: #6E7F97;

$--radio-button-checked-border-color: transparent;
$--radio-button-checked-font-color: #212836;

$--tooltip-fill: #DBE7F7;
$--tooltip-color: #212936;
$--tooltip-border-color: #212936;

$--table-border-color: rgba(#6E7F97, 0.2);
$--table-border: 1px solid $--table-border-color;
$--table-font-color: #9CBAE4;
$--table-header-font-color: #9CBAE4;
$--table-row-hover-background-color: rgba(#333C4E, 0.5);
$--table-current-row-background-color: rgba(#333C4E, 0.5);
$--table-header-background-color: #333C4E;
$--border-color-lighter: transparent;

$--pagination-button-disabled-background-color: transparent;
$--pagination-background-color: transparent;
$--pagination-font-color: #6E7F97;

$--dialog-background-color: linear-gradient(0deg,rgba(38,42,56,1),rgba(45,50,70,1));;
// $--dialog-padding-primary: 5px;

$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

.el-button--default:active {
  color: #90AACD;
  border-color: #3E4A5F;
  background-color: #11151E;
  outline: none;
}

.el-button--default:hover, .el-button--default:focus {
  color: #90AACD;
  border-color: #3E4A5F;
  background-color: #11151E;
  outline: none;
}

.el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
  color: #18EDD1;
}

.el-select-dropdown__item {
  color: #6E7F97;
}

.el-table {
  background-color: transparent;
  tr {
    background-color: transparent;
  }
  tbody tr {
    background-color: #212836;
  }
}

table {
  color: $--table-font-color;
}

.el-radio-button__inner {
  background: white;
  color: #90AACD;
  // border: 1px solid red;
}

// .el-table--group, .el-table--border {
//   border: 1px solid rgba(#6E7F97, 0.2);
// }

// .el-table--border th, .el-table--border td {
//   border-right: 1px solid rgba(34, 50, 81, 1);
// }

.el-dialog__header {
  background-color: #212836;
  padding-top: 10px; 
}

.el-dialog__headerbtn {
  top: 14px;
}

.el-dialog__title {
  color: #90AACD;
}

.el-tabs__item {
  color: #90AACD;
}

.el-tabs__active-bar {
  height: 1px;
}

.el-tabs__nav-wrap::after {
  background-color: #90AACD;
  height: 1px;
}

.el-tabs__item:hover,.el-tabs__item.is-active {
  color: $--color-primary;
}
